<div class="widget-details-container" fxLayout="column" fxLayoutAlign="center center" >
  <div class="container" fxLayout="column"  fxLayoutAlign="center center" style="width: 75%;">
    <h1>Widget Details</h1>
    <span class="mat-caption">Changes are saved automatically,<br>use browser back button to return to widget list.</span>
    <form class="full-width">
      <div  fxLayout="column"  fxLayoutAlign="center center" class="full-width" >
        <mat-form-field class="full-width"
          [hideRequiredMarker]="true"
          [floatLabel]="true">
          <input matInput placeholder="Title" required name="title"  [(ngModel)]="widget.title" >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Date" [matDatepicker]="widgetDatePicker" required name="date"  [(ngModel)]="widget.date" (click)="widgetDatePicker.open()">

          <mat-datepicker #widgetDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Price" required name="price"  [(ngModel)]="widget.price"  >
        </mat-form-field>

        <quill-editor style="width: 100%;" theme="snow" [(ngModel)]="widget.descriptionHTML" name="description"
                      [modules]="editorModules" (onContentChanged)="onDescriptionChanged($event)"></quill-editor>

      </div>

    </form>
  </div>
</div>
