<div class="home-container" fxLayout="column" fxLayoutAlign="center center" >
  <h2>Welcome to Rich Rodecker's Angular Demo</h2>
  <a routerLink="/widgets">Click here to go to the list of Widgets</a>
</div>
