.widgets-container {
  height: 100%;
  text-align: center;
  padding: 10px;
}

.table-wrapper {
  width: 75%;
}

.filter-field {
  width: 75%;
  padding-top: 10px;
}

.widgets-container table{
  width: 100%;
}


.widgets-container th, td{
  text-align: left;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.027451);
}

.widget-title {
  font-weight: bold;
}

