<div class="widgets-container" fxLayout="column" fxLayoutAlign="center center" >
  <!--<a routerLink="/widgets/1">Widget 1</a>-->
  <h3>Select a widget below to edit.</h3>
  <div class="table-wrapper mat-elevation-z8">
    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table matSort [dataSource]="dataSource" >
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let widget"> <span class="widget-title">{{widget.title}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let widget"> {{widget.date | date: short}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let widget"> {{widget.price}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let widget"> {{widget.descriptionRawText || widget.descriptionHTML}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="gridColumns"></tr>
      <tr mat-row *matRowDef="let widget; columns: gridColumns" routerLink="/widgets/{{widget.id}}"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>



</div>
